<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="np.com.naxa.lumanti">

    <uses-permission android:name="com.naxa.conservationtrackingpermission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.Lumanti"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Dark">
        <activity
            android:name=".activity.SplashScreenActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="DATABASE"
            android:value="lumanti_database.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="np.com.naxa.lumanti.sugar" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAMJnKb37T0YzQqwZ30djyGVgOtw-KTqUo" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.MainActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.NissaNoInputActivity" />
        </activity>
        <activity
            android:name=".activity.DemographicInfoActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.ReconstructionStatusActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.EarthquakeReliefStatusActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.SocioEconomicInfoctivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.WaterSanitationActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.CapacityBuildingActivity"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".gps.MapPointActivity"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".gps.MapPolyLineActivity"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".activity.SavedFormsActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeListActivity" />
        </activity>
        <activity
            android:name=".gps.GeoPointActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name=".activity.SaveSendActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity android:name=".activity.HomeListActivity">
        </activity>

        <activity android:name=".activity.NissaNoInputActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeListActivity" /></activity>
    </application>

</manifest>